<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>汉字 / 漢字 / Hàn Zì</title>
  <meta name="description" content="汉字 / 漢字 / Hàn Zì">
  <link rel="stylesheet" href="hanzi.css">
  <script src="characters.json.js"></script>
  <script src="sentences.json.min.js"></script>

  <!-- vuuuuuue -->
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- production version, optimized for size and speed 
  <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

</head>
<body>
	<div id="app">
	    <h1>汉字 / 漢字 / Hàn Zì</h1>
	    <div>
	        <input v-model="maxCharacters" class="maxCharacters" type="number" value="1000" min="50" max="1500"></input>
	        most common characters.
	    </div>
	    <div>
	    	{{ characterIndex }}
	    </div>
	    <div class="characters" v-if="currentCharacter.simplified !== currentCharacter.traditional">
	    	{{ currentCharacter.simplified }} / {{ currentCharacter.traditional }}
	    </div>
	    <div class="characters" v-else>
	    	{{ currentCharacter.simplified }}
	    </div>
	    <div class="sentence">
	    	<div v-html="currentSentence.simplified" class="simplified"></div>
	    	<div 
	    		v-html="currentSentence.traditional" 
	    		v-if="currentCharacter.simplified !== currentCharacter.traditional" 
	    		class="traditional"></div>
	    </div>
	    <div 
	    	v-if="pinyinAnswer && meaningAnswer" 
	    	v-html="currentSentence.pinyin" 
	    	class="pinyinSentence"></div>
	    <div 
	    	v-if="pinyinAnswer && meaningAnswer" 
	    	v-html="currentSentence.english" 
	    	class="englishSentence"></div>
	    <div class="answers">
    		<button v-if="!pinyinAnswer" v-for="answer in currentCharacterAnswers" v-on:click="pinyinAnswer = answer.pinyin">
    			{{ answer.pinyin }}
    		</button>
    		<button v-if="pinyinAnswer && !meaningAnswer" v-for="answer in currentCharacterAnswers" v-on:click="meaningAnswer = answer.definition">
    			{{ answer.definition }}
    		</button>
	    </div>
	    <div class="results">
	        <div v-if="pinyinCorrect !== undefined" 
	        	v-bind:class="{ correct: pinyinCorrect, incorrect: !pinyinCorrect }"> 
	        	{{ currentCharacter.pinyin }} 
	        </div>
	        <div class="dash">-</div>
	        <div v-if="meaningCorrect !== undefined"
	        	v-bind:class="{ correct: meaningCorrect, incorrect: !meaningCorrect }"> 
	        	{{ currentCharacter.definition }} 
	        </div>
	    </div>
	    <div class="scores">
	        <div class="score pinyinScore">
	          pinyin score: <div class="pinyinCorrect">0</div> / <div class="pinyinTotal">0</div>
	        </div>
	        <div class="score englishScore">
	          meaning score: <div class="englishCorrect">0</div> / <div class="englishTotal">0</div>
	        </div>
	    </div>
	    <div class="pastGames"></div>
	</div>
	<script src="hanzi.js"></script>
</body>
</html>